# Visual Studio
.vs/
bin/
obj/

# Packages
packages/
node_modules/

# User files
*.suo
*.user
*.userosscache
*.sln.docstates

# Database
*.mdf
*.ldf

# Publish folders
Publish/
publish/

# Logs
*.log

# Temp
Temp/
tmp/

# OS files
Thumbs.db
.DS_Store

# Config
web.config
web.Release.config
appsettings.json
SQLQuery1.sql